language: node_js
sudo: false
node_js:
  - "8"

before_script:
  - date --rfc-2822

script:
  - npm test

after_script:
  - cat coverage/lcov.info | codeclimate-test-reporter

addons:
  code_climate:
    repo_token: 491237c01cf5740cc49e91a9387d5d5756fdb630ca3028d83000901553bbefc0
